<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LocationModification</title>
    <style>
        body {background-color: darkorchid;}
    </style>
</head>
<body>
<form action="#" th:action="@{/location/update}" object="*{location}" name="location" method="post"><table border="1">
    <tr><td>
        ID of object you want to modify <input type="number" field="*{id}" name="id">
    </td></tr>
    <tr><td>
        Enter Data:
    </td></tr>
    <tr><td>
        Name <input type="text" field="*{name}" name="name">
    </td></tr>
    <tr><td>
        Type  <input type="text" field="*{type}" name="type">
    </td></tr>
    <tr><td>
        ImgUrl  <input type="text" field="*{imgUrl}" name="imgUrl">
    </td></tr>
    <tr><td>
        <input type="submit" value="Submit" />
    </td></tr>
</table></form>
</body>
</html>