<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <style>
        body {background-color: purple;}
    </style>
</head>
Locations:
<body>
<table>
    <tbody>
    <tr th:each="location : ${locations}">
        <td th:text ="${location.id}"></td>
        <td th:text ="${location.name}"></td>
        <td th:text ="${location.type}"></td>
        <td th:text ="${location.imgUrl}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>